header {
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	height: 3.75rem;
}

.dsmovie-nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.dsmovie-nav-content h1 {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
}

.dsmovie-contact-container {
	display: flex;
	align-items: center;
}

.dsmovie-contact-link {
	margin: 0 0 0 10px;
	font-size: 12px;
	color: #fff;
}

.dsmovie-nav-container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.dsmovie-nav-container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.dsmovie-nav-container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.dsmovie-nav-container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.dsmovie-nav-container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.dsmovie-nav-container {
		max-width: 1320px;
	}
}
